{% extends 'base.html' %}
{% block content %}
<h1>Помощь</h1>
<p>Добро пожаловать в раздел помощи! Здесь вы найдете ответы на часто задаваемые вопросы и инструкции по работе с сайтом Блогикум.</p>

<h2>Часто задаваемые вопросы</h2>
<ul>
    <li><strong>Как создать блог?</strong>
        <p>Для создания блога зарегистрируйтесь на сайте, войдите в свой аккаунт и перейдите в раздел "Мои блоги". Там вы сможете создать новый блог, добавив заголовок, описание и первую запись.</p>
    </li>
    <li><strong>Как управлять комментариями?</strong>
        <p>Вы можете модерировать комментарии к своим публикациям. Для этого перейдите на страницу поста и используйте функции "Редактировать" или "Удалить" для комментариев.</p>
    </li>
    <li><strong>Что делать, если я забыл пароль?</strong>
        <p>Нажмите на ссылку "Забыли пароль?" на странице входа и следуйте инструкциям для восстановления доступа.</p>
    </li>
</ul>

<h2>Как связаться с поддержкой?</h2>
<p>Если вы не нашли ответ на свой вопрос, вы всегда можете связаться с нашей службой поддержки:</p>
<ul>
    <li>По электронной почте: <a href="mailto:support@blogicum.com">support@blogicum.com</a></li>
    <li>Через форму обратной связи на странице <a href="{% url 'pages:contacts' %}">Контакты</a>.</li>
</ul>

<h2>Руководство по навигации</h2>
<p>Для удобства пользования сайтом:</p>
<ol>
    <li>Используйте меню в верхней части страницы для перехода к основным разделам: блоги, категории, профиль.</li>
    <li>Воспользуйтесь строкой поиска, чтобы найти интересующий вас контент.</li>
    <li>Переходите по ссылкам внутри статей для открытия связанных материалов.</li>
</ol>

<p>Мы всегда рады вам помочь и ответить на любые вопросы. Спасибо, что вы с нами!</p>
{% endblock %}
